syntax on
" 将tab替换为相应数量的空格
set expandtab
" 使用系统剪切板
set clipboard+=unnamedplus
" 使用idea 的行连接方式
set ideajoin
set idearefactormode=keep

let mapleader=' '

set easymotion
set surround

" multiple-cursors start
set multiple-cursors

map <C-n> <Plug>NextWholeOccurrence
map g<C-n> <Plug>NextOccurrence
map <C-x> <Plug>SkipOccurrence
map <C-p> <Plug>RemoveOccurrence

map <S-C-n> <Plug>AllWholeOccurrences
map g<S-C-n> <Plug>AllOccurrences
" multiple-cursors end

" redo
map U <C-r>

" NERDTree config
set NERDTree
map tt :NERDTreeToggle<CR>
map tc :NERDTreeClose<CR>
map tf :NERDTreeFocus<CR>

map H ^
map L $

" Actionsction
map <leader>s <Action>(SearchEverywhere)
map <leader>f <Action>(Find)
map <leader>F <Action>(FindInPath)
" 跳转到类
map <leader>o <Action>(GotoClass)
" 跳转到文件
map <leader>O <Action>(GotoFile)
" 显示文件结构
map <leader>m <Action>(FileStructurePopup)
" 展示类继承关系
map <leader>h <Action>(TypeHierarchy)
" 复制一行
map <leader>d <Action>(EditorDuplicate)
" 复制选中的行
vmap <leader>d <Action>(EditorDuplicateLines)
map <leader>n <Action>(Generate)
map <leader>e <Action>(GotoNextError)
" 重命名 文件
map <leader>A <Action>(RenameFile)
" 重命名 变量、类名
map <leader>a <Action>(RenameElement)

map <leader>r <Action>(RunClass)
map <leader>R <Action>(DebugClass)

map <leader>b <Action>(ToggleLineBreakpoint)

map == <Action>(ReformatCode)

map <leader>/ <Action>(CommentByLineComment)
vmap <leader>/ <Action>(CommentByBlockComment)

" 退出
map <leader>c <Action>(CloseContent)
map <leader>C <Action>(CloseAllEditors)

" 跳转相关配置
map gd <Action>(GotoDeclaration)
map gu <Action>(GotoSuperMethod)
map gi <Action>(GotoImplementation)
map ga <Action>(GotoAction)
map gt <Action>(GotoTest)

" 抽取方法
map me <Action>(ExtractMethod)

map mi <Action>(ImplementMethods)
map mo <Action>(OverrideMethods)
map <s-tab> <Action>(PreviousTab)
map <tab> <Action>(NextTab)

" Refactor
map gr <Action>(Refactorings.QuickListPopupAction)
map <leader>ip <Action>(IntroduceParameter)
map <leader>iv <Action>(IntroduceVariable)
map <leader>ic <Action>(IntroduceConstant)
map <leader>if <Action>(IntroduceField)

" 窗口分割
map <c-\> <Action>(SplitVertically)
map <c--> <Action>(SplitHorizontally)
map <c-m> <Action>(MoveEditorToOppositeTabGroup)

sethandler <c-j> a:vim
sethandler <c-k> a:vim

" 窗口之间跳转
map <c-h> <c-w>h
map <c-j> <c-w>j
map <c-k> <c-w>k
map <c-l> <c-w>l

" 终端
sethandler <c-t> a:vim
map <c-t> <Action>(Terminal.OpenInTerminal)
map <leader>t <Action>(ActivateTerminalToolWindow)
